<% provide(:title, "Connect Your First Account!") %>
<h1>Welcome to Cloudy!</h1>
<h2>This is your new home in the cloud</h2>
<p><em>The cloudier the better!<em> Cloudy is fun when you have tons of cloud storage to manage in one place.
So why don't you go ahead and <%= link_to "add your first cloud account?", new_dropbox_path %></p>
