<div>
	<h1>Update a New Cloud Service Provider</h1>
	<p>
		This is where cloud service providers (CSPs) update api data for review and eventually integration into the cloudyApp
	</p>
</div>

<div><!-- CSP information form -->
	<%= render 'form' %>
</div>

<div><!-- navigation links --> 
	<%= link_to 'Back', cloud_apis_path %>
</div>
